{% extends 'base.html' %}

{% block title %} Mars | Search Account {% endblock %}

{% block content %}

{% include "includes/flash_message.html" %}

{% if search %}
<div class="wrapper mt-5" style="min-height: 40vh;">
	<div class="title mt-5">
		Search Account
	</div>
    <form action=" {{ url_for('accountSearch') }} " method="POST" data-parsley-validate>
        <div class="form">
            <div class="inputfield">
                <div class="row">
                    <div class="col-md-3">
                        <label for="input_type" class="pt-2">Input Type</label>
                    </div>
                    <div class="col-md-4">
                        <div class="custom_select">
                            <select name="input_type" required>
                                <option value="cust_id">Customer ID</option>
                                <option value="acc_id">Account ID</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group form-sm  form-2 pl-0 col-md-5 ">
                        <input name="id" class="form-control my-0 py-1 " type="text" placeholder="Enter ID"
                            aria-label="Search" required style="border: 1px solid black;" minlength="9" maxlength="9"
                            data-parsley-type="integer">
                        <div class="input-group-append">
                            <button type="submit" style="border: 1px solid black;"><span class="input-group-text "
                                    id="basic-text1"><i class="fas fa-search text-grey" id="searchBtn"
                                        aria-hidden="true"></i></span></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr class="w-100 mt-4">
</div>
</div>

{% endif %}



{% if data %}
<div class="wrapper mt-5">
    <div class="title">
        Searched Account
    </div>
</div>   
    {% for row in data %}
    <div class="wrapper">
    <form action=" " method="POST" class="mb-5">
        <input name="input_type" value="cust_id" hidden>
        <input name="id" value="" hidden>
        <div class="form">
            <div class="inputfield">
                <div class="row">
                    <div class="col-md-4">
                        <label for="cust_id">Customer ID </label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" value={{row[1]}} name="cust_id" class="input form-control-sm disabled" readonly>
                    </div>
                </div>
            </div>

            <div class="inputfield">
                <div class="row">
                    <div class="col-md-4">
                        <label for="acc_id">Account ID </label>
                    </div>
                    <div class="col-md-8">
                        <input type="number" value={{row[0]}} name="acc_id" class="input form-control-sm disabled" readonly>
                    </div>
                </div>
            </div>

            <div class="inputfield">
                <div class="row">
                    <div class="col-md-4">
                        <label for="acc_type">Account Type </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="{{row[2]}}" name="acc_type" class="input form-control-sm disabled" readonly>
                    </div>
                </div>
            </div>          

            <!-- <div>
                <input type="submit" value="Edit" class="btn btn-sm red white-text">

                <a href=" {{ url_for('customerManagement') }} " class=" btn btn-sm black white-text ml-lg-5">Back</a>
            </div> -->

        </div>
        <hr class="w-100">
    </form>
    
</div>
</div>
    {% endfor %}
    

{% endif %}




{% endblock %}