{% extends 'base.html' %}

{% block title %} Mars | Customer Management {% endblock %}

{% block content %}


<div class="title mt-md-4">
Account Details
</div>

{% include "includes/flash_message.html" %}

<!-- MDBootstrap Datatables  -->
<link href=" {{ url_for('static',filename = 'css/addons/datatables.min.css') }}" rel="stylesheet">

<div class="container table-responsive">
  <table id="datatable" class="table container table-sm table-hover table-striped text-center" align="center">
    <thead style="background-color: #212121; color: white;">
      <tr>
        <th scope="col" class="font-weight-bold" >Customer ID</th>
        <th scope="col" class="font-weight-bold" >Account ID</th>
        <th scope="col" class="font-weight-bold">Account Type</th>
        <th scope="col" class="font-weight-bold">Account Status</th>
        <th scope="col" class="font-weight-bold">Message</th>
        <th scope="col" class="font-weight-bold">Last Transaction</th>
        <th scope="col" class="font-weight-bold">Balance</th>
        <th scope="col" class="font-weight-bold">Options</th>
      </tr>
    </thead>
    
    <tbody class="text-dark font-weight-bold">

      {% for row in data %}
      <tr>
        <td class="font-weight-normal" name='cust_id'> {{ row[1] }} </td>
        <td class="font-weight-normal">{{ row[0] }} </td>
        <td class="font-weight-normal">{{ row[2] }} </td>
        <td class="font-weight-normal">{{ row[6] }} </td>
        <td class="font-weight-normal">{{ row[4] }} </td>
        <td class="font-weight-normal">{{ row[5] }} </td>
        <td class="font-weight-normal">{{ row[3] }} </td>
        <td class="font-weight-normal p-0" >
            <form action=" {{ url_for('deposit') }} " method="POST" class="form-inline p-0" style="display: inline;margin: 0;">
              <input type="text" name="account_id" value={{row[0]}} hidden>
              <input type="text" name="account_type" value={{row[2]}} hidden>
              <input type="text" name="cust_id" value={{row[1]}} hidden>
              <input type="text" name="balance" value={{row[3]}} hidden>
              <input type="submit" value="Deposit" class="btn btn-sm text-white p-1 m-0" style="background-color: blue;">
            </form>
            <form action=" {{ url_for('withdraw') }} " method="POST" class="form-inline p-0" style="display: inline;margin: 0;">
              <input type="text" name="account_id" value={{row[0]}} hidden>
              <input type="text" name="account_type" value={{row[2]}} hidden>
              <input type="text" name="cust_id" value={{row[1]}} hidden>
              <input type="text" name="balance" value={{row[3]}} hidden>
              <input type="submit" value="Withdraw" class="btn btn-sm text-white p-1 m-0" style="background-color: red;">
            </form>
            <form action=" {{ url_for('transfer') }} " method="POST" class="form-inline p-0" style="display: inline;margin: 0;">
              <input type="text" name="account_id" value={{row[0]}} hidden>
              <input type="text" name="account_type" value={{row[2]}} hidden>
              <input type="text" name="cust_id" value={{row[1]}} hidden>
              <input type="text" name="balance" value={{row[3]}} hidden>
              <input type="submit" value="Transfer" class="btn btn-sm text-white p-1 m-0" style="background-color: green;">
            </form>
         </td>
      </tr>
      {% endfor %}
      
     

      
     

    </tbody>
  </table>
</div>


{% endblock %}