{% extends 'base.html' %}

{% block title %} Mars | Create Customer {% endblock %}

{% block content %}

	<div class="wrapper">
		<div class="title">
		  Create Customer
		</div>

{% include "includes/flash_message.html" %}

		<form action="" method="POST">
		<div class="form">
			<div class="inputfield">
				<label for="cust_ssid">Customer SSN ID <span class="star">*</span> </label> 
				<input type="number" name="cust_ssid" class="input form-control-sm">
			 </div>  
		   <div class="inputfield">
			  <label for="cust_name">Customer Name <span class="star">*</span> </label>
			  <input type="text" name="cust_name" class="input form-control-sm">
		   </div>  
		   <div class="inputfield">
			<label for="cust_age">Age <span class="star">*</span> </label>
			<input type="number" name="cust_age" class="input form-control-sm">
		 </div>
		 <div class="inputfield">
			<label for="cust_address">Address <span class="star">*</span> </label>
			<textarea name="cust_address" class="textarea form-control-sm"></textarea>
		 </div> 
		 <input type="hidden" name="country" id="countryId" value="IN"/>
			<div class="inputfield">
			  <label for="cust_state">State <span class="star">*</span> </label>
			  <div class="custom_select ">
				<select onchange="print_city('state', this.selectedIndex);" id="sts" name ="cust_state" class="form-control" required></select>
			  </div>
		   </div> 
		   <div class="inputfield">
			<label for="cust_city">City <span class="star">*</span> </label>
			<div class="custom_select ">
				<select id ="state" class="form-control" name="cust_city" required></select>
			</div>
		 </div> 
		   
		  
		  <span class="star font-small font-weight-bolder ml-1 mt-0 pt-0"> (*) Fields are compulsory</span>
	
			<div>
			<input type="submit" value="Create" class="btn btn-sm black gold-text">
			<input type="reset" value="Reset" class="ml-lg-5 btn btn-sm black white-text">
			</div>
		 
		</div>

	</form>
	</div>
	
	<script language="javascript">print_state("sts");</script>



{% endblock %}

