{% extends 'base.html' %}

{% block title %} Mars | Deposit {% endblock %}

{% block content %}


{% include "includes/flash_message.html" %}


<div class="wrapper mt-5">
    <div class="title mt-5">
        Deposit Amount
    </div>

 {% if data %}
 <form action=" {{ url_for('depositIntoDatabase') }} " method="POST" data-parsley-validate>
    <div class="form">


        <div class="inputfield">
            <div class="row">
                <div class="col-md-4">
                    <label for="cust_id">Customer ID </label>
                </div>
                <div class="col-md-8">
                    <input type="number" value={{data.cust_id}} name="cust_id" class="input form-control-sm disabled" readonly>
                </div>
            </div>
        </div>

        <div class="inputfield">
            <div class="row">
                <div class="col-md-4">
                    <label for="account_id">Account ID </label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="account_id"  value=" {{ data.account_id }} " class="input form-control-sm disabled" readonly>
                </div>
            </div>
        </div>

        <div class="inputfield">
            <div class="row">
                <div class="col-md-4">
                    <label for="account_type">Account Type </label>
                </div>
                <div class="col-md-8">
                    <input type="text" value="{{data.account_type}}" name="account_type" class="input form-control-sm disabled" readonly>
                </div>
            </div>
        </div>

        <div class="inputfield">
            <div class="row">
                <div class="col-md-4">
                    <label for="balance">Current Balance </label>
                </div>
                <div class="col-md-8">
                    <input type="text" value={{data.balance}} name="balance" class="input form-control-sm disabled" readonly>
                </div>
            </div>
        </div>

        <div class="inputfield">
            <div class="row">
                <div class="col-md-4">
                    <label for="deposit_amt">Deposit Amount <span class="star">*</span> </label>
                </div>
                <div class="col-md-8">
                    <input type="number" name="deposit_amt" class="input form-control-sm" data-parsley-type="number"
                        data-parsley-type="digits" min="0" required data-parsley-error-message="Required and only integers allowed">
                </div>
            </div>
        </div>

        <div class="mt-4 justify-content-center">
            <center>
            <input type="submit" value="Deposit" class="btn btn-sm white-text" style="background-color: blue;">
        </center>
            <!-- <input type="rest" value="Cancel" class="ml-lg-5 btn btn-sm black white-text"> -->
        </div>

    </div>

</form>
 {% endif %}
 
</div>




{% endblock %}